$Azul1: rgb(30, 123, 225);
$Azul2: rgb(12, 29, 48);
$Gris1: rgb(224, 238, 255);
$Negro1: rgb(27, 27, 30);
$Gradiante: linear-gradient(
    to bottom,
    rgb(31, 147, 255),
    rgb(157, 208, 255)
    );

$tipografia: 'Roboto', sans-serif;
