* {
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0px;
}

header {
    background-color: rgb(97, 192, 255);
    width: 100%;
    position: fixed;
    }

header a {
    display: inline-block;
}
#LogoHeader {
    display: inline-block;
    height: 60px;
    margin: 5px 10px;

}

nav {
    display: inline-block;
    position: absolute;
    right: 0px;
    margin: 25px;
    }

.BotonHeader {
    display: inline;
    position: relative;

}

.BotonHeader li {
    display: inline;
    padding: 15px;
    }

a {
    text-decoration: none;
    }

#Hero {
    background-image: linear-gradient(
        to bottom,
        rgb(31, 147, 255),
        rgb(157, 208, 255)
        );
    padding: 10% 10% 5% 10%;
}

#HeroTitulos {
    padding: 40px;
    margin: 0 0 0 15%;
    width: 30%;
    display: inline-block;
    position: relative;
    top: 50%;
    animation-name: EntradaTitulos;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes EntradaTitulos {
    0% {opacity: 0; }
    100% {opacity: 100; }
}

.boton1 {
    background-color: black;
    color: white;
    padding: 1px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    font-size: 14px;
}

#BotonHero:hover{
    transform: scale(1.1);
    transition: ease-in-out 0.2s;
}

#HeroFoto { 
    display: inline-block;
    height: 400px;
}

.bloque1 {
    text-align: center;
    margin: 50px 35%;
}

.bloque1 div {
    margin: 20px 35%
}

#PortfolioHome {
    padding: 0 10% 8% 10%;
}

h3 {
    display: inline-block;
    font-size: 20pt;
    margin: 0 0;
}

.boton2 {
    margin: 0 2%;
    font-weight: bold;
    font-size: 12pt;
}

.ArticuloHome {
    width: 20%;
    display: inline-block;
    border-style: solid;
    padding: 16px;
    margin: 3% 8px 0 0;
}

.ArticuloHome img {
    width: 98%;
}

#BlogHome {
    padding: 0 10% 8% 10%;
}

.Articulo2Home {
    width: 85%;
    display: block;
    border-style: solid;
    padding: 16px;
    margin: 3% 8px 0 0;
}

.Articulo2Home * {
    display: inline-block;
}

.Articulo2Home img {
    width: 20%;
    display: inline-block;
}

.Articulo2Home div {
    display: inline-block;
}

#contacto {
    padding: 5% 10% 8% 10%;
    background-color: rgb(115, 148, 218);
}

h6 {
    font-size: 12pt;
    margin: 24px 8px 8px 8px;
    font-weight: normal
}

input {
    padding: 7px;
    display: block;
    font-size: 12pt;
    width: 400px;
    
}

#textolargo {
    height: 150px;
}

#botoninput {
    width: 200px;
    margin-top: 20px;
}

#Redes {
    padding: 0;
    margin-bottom: 20px
}

#Redes li {
    display: inline-block;
}

footer {
    background-color: rgb(97, 192, 255);
}

footer * {
    display: inline-block;
    margin: 10px;
}

footer div {
    margin: 0px 30px
}

#acreditacion * {
    text-align: center;
    display: block;
    margin: 0px 10px
}

h7 {
    font-size: 10pt;
}

.iconoredes {
    margin: 0;

}